@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Selim Kılıç CV</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Selim Kılıç</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/img/profile.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#hakkımda">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#kisiselbilgiler">Kisisel Bilgiler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#egitim">Egitim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#yetkinlikler">Yetkinlikler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projeler">Projeler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#sertifikalar">Sertifikalar</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#ilgialanlari">Ilgi Alanları</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- Hakkımda-->
        <section class="resume-section" id="hakkımda">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    SELİM
                    <span class="text-primary">KILIÇ</span>
                </h1>
                <div class="subheading mb-5">
                    Junior Yazılım geliştirme Uzmanı · Sosyolog

                </div>
                <p class="lead mb-5">İnsana ve topluma olan ilgim sayesinde Sosyoloji bölümünü kazandım ve bitirdim.  
Sosyoloji bölümünü okurken edindiğim problem çözme, insan ihtiyaçlarını analiz etme gibi tecrübelerimi yazılım sektöründe değerlendirme isteğim ve öte yandan çocukluğumdan beri süregelen teknoloji merakım sayesinde yazılım sektörüne yöneldim. Özel bir yazılım kursunda Full stack yazılım uzmanlığı eğitimi aldım. Bu alanda yeteneklerimi sergileyebileceğim projeler üretiyor ve kendimi geliştiriyorum. </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/slmklc/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/seliimkilic"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Kişisel Bilgiler-->
        <section class="resume-section" id="kisiselbilgiler">
            <div class="resume-section-content">
                <h2 class="mb-5">Kisisel Bilgiler</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-passport"></i></span>
                        <b>Uyruk</b> : Türkiye Cumhuriyeti
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-cake-candles"></i></span>
                        <b>Dogum Tarihi</b> : 03/10/1993
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-location-crosshairs"></i></span>
                        <b>Dogum Yeri</b> : Kdz.Ereğli / Zonguldak
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-map-location"></i></span>
                        <b>Adress</b> : Pendik / İstanbul
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-person-military-rifle"></i></span>
                        <b>Askerlik Durumu</b> : Yapıldı
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-car"></i></span>
                        <b>Ehliyet Sınıfı</b> : B
                    </li>
                </ul>
                <br />
                <div class="subheading mb-3">ILETISIM BILGILERI</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-phone"></i></span>
                        <b>Cep Telefonu</b> : 0(535) 202 09 67
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-envelope"></i></span>
                        <b>E-Mail</b> : <a href="mailto:seliimkilic34@gmail.com">seliimkilic34@gmail.com</a>

                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-brands fa-linkedin"></i></span>
                        <b>Linkedin</b> : <a href="https://www.linkedin.com/in/slmklc/">https://www.linkedin.com/in/slmklc/</a>

                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-brands fa-github"></i></span>
                        <b>GitHub</b> : <a href="https://github.com/seliimkilic">https://github.com/seliimkilic</a>

                    </li>
                </ul>
            </div>
        </section>
        <!-- Eğitim-->
        <section class="resume-section" id="egitim">
            <div class="resume-section-content">
                <h2 class="mb-5">Egitim</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">GAZI UNIVERSITESI</h3>
                        <div class="subheading mb-3">SOSYOLOJI</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Eylül 2015 - Haziran 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Infotech Academy</h3>
                        <div class="subheading mb-3">Full Stack Yazılım Uzmanlığı</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Aralık 2021 - Hazıran 2022</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />

        <!-- Yetkinlikler-->
        <section class="resume-section" id="yetkinlikler">
            <div class="resume-section-content">
                <h2 class="mb-5">Yetkinlikler</h2>
                <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                </ul>
                <div class="subheading mb-3">Yetkinlikler</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        C# ile Programlama
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        SQL Server ile Veri Tabanı Yapıları
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        ASP.NET ile Dinamik Web Sitesi
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Entity Framework ve Ado.Net ile Verilere Erişim
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Windows Form Uygulamarı
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Html, Css, Javascript ile Programlama
                    </li>

                </ul>
                <br />
                <div class="subheading mb-3">Yabancı Diller</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        İNGİLİZCE | B1
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        ALMANCA | A1
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        İTALYANCA | A1
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Projeler-->
        <section class="resume-section" id="projeler">
            <div class="resume-section-content">
                <h2 class="mb-5">Projeler</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <div class="subheading mb-3"><b>E-Ticaret Sitesi</b></div>
                        <div>Bu projede Asp.Net teknolojisi kullanılarak dinamik bir e-ticaret sitesi oluşturuldu. Code first yaklaşımıyla Entity Framework teknolojisinden faydalanılarak veri tabanı yapıları oluşturuldu. Projede admin paneli, arama çubuğu, alışveriş sepeti, sipariş verme ve sipariş onayı gibi işlemlere de yer verildi. </div>
                        <div><a href="https://github.com/seliimkilic/E-Ticaret-Sitesi.git">Projeye gitmek için tıklayınız</a></div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Ağustos 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <div class="subheading mb-3">Fitness Center Uygulaması</div>
                        <div>Bu projede Windows Form teknolojisi kullanılarak dinamik bir fitness center uygulaması oluşturuldu. Database first yaklaşımıyla Ado.Net teknolojisinden faydalanılarak veri tabanı yapıları oluşturuldu. Login işlemlerinin yanısıra Ekleme, Silme, Güncelleme ve Listeleme İşlemleri de yapıldı. </div>
                        <div><a href="https://github.com/seliimkilic/Fitness-Center-Uygulamasi.git">Projeye gitmek için tıklayınız</a></div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Ağustos 2022</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Sertifikalar-->
        <section class="resume-section" id="sertifikalar">
            <div class="resume-section-content">
                <h2 class="mb-5">Sertifikalar</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Infotech Academy - Yazılım Uzmanlığı Sertifikası
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Btk Akademi - Bilgi Teknolojileri
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Btk Akademi - Python Programlama
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Ismek - Diksiyon Sertifikası
                    </li>
                </ul>
            </div>
        </section>

        <!-- İlgi Alanları-->
        <section class="resume-section" id="ilgialanlari">
            <div class="resume-section-content">
                <h2 class="mb-5">Ilgı alanları</h2>
                <p>Yazılım geliştirmenin yanısıra müziğe olan tutkum sayesinde farklı enstrümanlar çalmaktan zevk duyuyorum. Ayrıca bir sosyolog olmanın kazandırmış olduğu bakış açısıyla kitap okumaktan, belgesel ve film izlemekten keyif alıyorum. Spor yapmayı ve spor müsabakalarını izlemeyi seviyorum.</p>
                <p class="mb-0">Bir başka tutkum ise yeni teknolojileri araştırmak. Özellikle Hologram ve VR teknolojisindeki yenilikler bana heyecan veriyor. Bununla birlikte Bilgisayar ve Mobil oyunlar oynamaktan hoşlanıyorum.</p>
            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
</body>
</html>

